%footer{:class=>'footer-navigation'}
  %ul{:class=>'footer-links'}
    %li
      %a{:href=> privacy_path} Privacy, Terms, Etc.
    %li
      %a{:href=> related_sites_path} Related Sites
    %li
      %a{:href => contact_path} Contact Info
    %li
      =this_year+' &copy;'