%footer.imaginary-footer
  .footer-inner
    .footer-logo
      = inline_svg 'if.svg', class: 'if-logo', :title => 'Imaginary Foundation', :aria => true
    %ul
      %li
        %a{:href=> privacy_path} Privacy, Terms, Etc.
      %li
        %a{:href=> related_links_path} Related Sites
      %li
        %a{:href => contact_path} Contact Info
        %span{:class=>'copyright'}
        =this_year