%header.navigation{:role => 'banner', :ng => {:controller=>'navigationCtrl', :init=>'init()'}}
  .navigation-wrapper
    %a.navigation-menu-button{:ng => {:click=>'toggleMobileNav()',:if=>'!mobileNavOpen'}}
      %i{:class=>'if-icon icon-three-bars hamburger'}
    %a.navigation-menu-button{:ng => {:click=>'toggleMobileNav()',:if=>'mobileNavOpen'}}
      %i{:class=>'if-icon icon-x hamburger'}
    %nav{:role => 'navigation'}
      %ul.navigation-menu
        %li.logo-link
          %a.logo{:href => home_path,:alt=>'', :tabindex=>'0'}
            = inline_svg 'if.svg', class: 'if-logo', :title => 'Imaginary Foundation', :aria => true
        %li.nav-link
          %a{:href => home_path} Imaginary Foundation
        %li.nav-link
          %a{:href => about_path} About
        %li.nav-link
          %a{:href => projects_path} Projects
        %li.nav-link
          %a{:href => essays_path} Essays