%header.navigation{:role => 'banner', :ng => {:controller=>'navigationCtrl', :init=>'init()'}}
  .navigation-wrapper
    %a#navigation-menu-button.navigation-menu-button{:ng => {:click=>'openMobileNav()'}}
      %i{:class=>'if-icon icon-three-bars hamburger'}
      Menu
    %nav{:role => 'navigation'}
      %ul#navigation-menu.navigation-menu.show
        %li.logo-link
          %a.logo{:href => home_path,:alt=>'', :tabindex=>'0'}
            %img{:src=>'http://placehold.it/50/50'}/
        %li.nav-link
          %a{:href => home_path} Imaginary Foundation
        %li.nav-link
          %a{:href => about_path} About
        %li.nav-link
          %a{:href => projects_path} Projects
        %li.nav-link
          %a{:href => essays_path} Essays