%nav{:class=>'ui attached fluid four item menu'}
  %a{:href=>home_path, :class=> 'item'} Imaginary Foundation
  %a{:href=>about_path, :class=> 'item'} About
  %a{:href=>projects_path, :class=> 'item'} Projects
  %a{:href=>essays_path, :class=> 'item'} Essays