%header.navigation{:role => 'banner'}
  .navigation-wrapper
    %a.logo{:href => home_path}
      %img{:src=>'http://placehold.it/50/50'}/
    %a#js-mobile-menu.navigation-menu-button{:href => 'javascript:void(0)'} Menu
    %nav{:role => 'navigation'}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => home_path} Imaginary Foundation
        %li.nav-link
          %a{:href => about_path} About
        %li.nav-link
          %a{:href => projects_path} Projects
        %li.nav-link
          %a{:href => essays_path} Essays