%nav
  .navigation-container
    %h1
      %a{:href=>home_path} Imaginary Foundation
    %ul
      %li
        %a{:href=>about_path} About
      %li
        %a{:href=>projects_path} Projects
      %li
        %a{:href=>essays_path} Essays