%nav{:class=>'nav nocollapse'}
  .one.fourth
  .three.fourths
    %a{:href=>home_path}
      %h1 Imaginary Foundation
    %a{:href=>about_path}
      %h1 About
    %a{:href=>projects_path}
      %h1 Projects
    %a{:href=>essays_path}
      %h1 Essays