$breakpoints:(
              sm: 520px,
              md: 768px,
              lg: 1024px,
              xlg: 1920px);

$paragraph-starts:( sm: 0,
                    md: 1rem,
                    lg: 4rem,
                    xlg: 5rem);

@mixin respond-to($media) {
  @if $media == oldphone {
    @media only screen and (max-width: #{map-get($breakpoints, sm)}) {
      @content;
    }
  }
  @else if $media == newphone {
    @media only screen and (min-width: #{map-get($breakpoints, sm)} + 1) and (max-width: #{map-get($breakpoints, md)} - 1) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (#{map-get($breakpoints, md)} + 1) and (#{map-get($breakpoints, lg)} - 1) {
      @content;
    }
  }
  @else if $media == monitor {
    @media only screen and (#{map-get($breakpoints, lg)} + 1) and (#{map-get($breakpoints, xlg)} - 1) {
      @content;
    }
  }
  @else if $media == tv {
    @media only screen and (min-width: #{map-get($breakpoints, xlg)}) {
      @content;
    }
  }
}

.main-outer{
  @include outer-container(100%);
  .main-inner{
    @include span-columns(12);
  }
}

// Ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
