
$small-phone: new-breakpoint(max-width 320px 4);
$phone: new-breakpoint(max-width 375px 4);
$large-phone: new-breakpoint(max-width 414px 4);

$small-tablet: new-breakpoint(max-width 768px 12);
$tablet: new-breakpoint(max-width 1024px 12);
$large-tablet:new-breakpoint(max-width 1366px 12);

$small-monitor:  new-breakpoint(max-width 800px 12);
$monitor: new-breakpoint(max-width 1920px 12);
$large-monitor:  new-breakpoint(max-width 3840px 16);


.main-outer{
  @include outer-container(100%);
  .main-inner{
    @include span-columns(12);
  }
}


// Ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
