.main-outer{
  @include outer-container(100%);
  .main-inner{
    @include span-columns(12);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    flex-basis: 20em;
    flex-grow: 1;
    margin: 0 1em;
  }
  .card-image {
    height: 15em;
    background: whitesmoke;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.grid {
  $grid-gutter: 0.1rem;
  display: flex;
  flex-flow: row wrap;
  margin: 0 - $grid-gutter;
  .grid-box-wrap {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 $grid-gutter ($grid-gutter * 2);
  }
  .grid-box {
    background: whitesmoke;
    text-align: center;
  }
}


// Ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
