$default-font: $font-name;
$default-font-size: 16px;

$special-characters: 'Arial', sans-serif !important;

* {
  font-family: $default-font;
  font-size: $default-font-size;
  color: $black;
}


h1{
  font-size: 5rem;
  font-weight: 600;
}

.copyright{
  font-family: $special-characters;
  &:before{
    content: '\00a9';
  }
}