$default-font: $font-name;
$default-font-size: 16px;

$special-characters: 'Arial', sans-serif !important;

@mixin imaginary-hover-focus($hovercolor:$blue, $focuscolor:$blue){
  text-decoration: none;
  &.hover{
    color: $hovercolor;
    text-decoration: underline;
  }
  &.focus{
    color: $focuscolor;
  }
}

@mixin page-heading($color: $black){
  font-family: $default-font;
  font-size: 3rem;
  font-weight: 600;
  color: $color;
  margin-bottom: 0;
};

* {
  font-family: $default-font;
  font-size: $default-font-size;
  color: $black;
}


h1{
  font-family: $default-font;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0;
}

h2{
  font-family: $default-font;
  font-size: 4.5rem;
  font-weight: 200;
  margin-bottom: 0;
}

h3{
  font-family: $default-font;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

h4{
  font-family: $default-font;
  font-size: 2.25rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

h5{
  font-family: $default-font;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

a{
  @include imaginary-hover-focus();
}

.page-heading{
  @include page-heading();
}

.copyright{
  font-family: $special-characters;
  color: $white;
  &:before{
    content: '\00a9';
  }
}

