$default-font: $font-name;
$default-font-size: 16px;

$special-characters: 'Arial', sans-serif !important;

@mixin imaginary-hover-focus($hovercolor:$blue, $focuscolor:$blue){
  text-decoration: none;
  &:hover{
    color: $hovercolor;
    text-decoration: none;
  }
  &:focus{
    color: $focuscolor;
  }
}

@mixin page-heading($color: $black){
  font-family: $default-font;
  font-size: 3rem;
  font-weight: 600;
  color: $color;
  margin-bottom: 0;
};

* {
  font-family: $default-font;
  font-size: $default-font-size;
  color: $black;
}


h1{
  font-family: $default-font;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0;
  &.huge{
    span{
      font-size: 6rem;
    }
    font-size: 6rem;
  }
}

h2{
  font-family: $default-font;
  font-size: 4.5rem;
  font-weight: 200;
  margin-bottom: 0;
}

h3{
  font-family: $default-font;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

h4{
  font-family: $default-font;
  font-size: 2.25rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

h5{
  font-family: $default-font;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

a{
  @include imaginary-hover-focus();
}

.page-heading{
  @include page-heading();
}

.copyright{
  font-family: $special-characters;
  color: $white;
  &:before{
    content: '\00a9';
  }
}

@mixin noun($color: $blue, $respectful: false){
  @if $respectful{
    @if $color == $red{
      color: desaturate($color, 85%);
    }@else{
      color: desaturate($color, 40%);
    }
  }@else {
    color: $color;
  }
}


.person{
  @include noun($red);
}

.place{
  @include noun($cyan);
}

.thing{
  @include noun($green);
}

.duration, .date{
  @include noun($blue);
}

.organization-professional{
  @include noun($purple, true);
}

.person-professional{
  @include noun($red, true);
}

.place-professional{
  @include noun($cyan, true);
}

.thing-professional{
  @include noun($green, true);
}

.duration-professional, .date-professional{
  @include noun($blue, true);
}

.organization-professional{
  @include noun($purple, true);
}
