%h1 Listing pull_quotes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @pull_quotes.each do |pull_quote|
      %tr
        %td= link_to 'Show', pull_quote
        %td= link_to 'Edit', edit_pull_quote_path(pull_quote)
        %td= link_to 'Destroy', pull_quote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pull quote', new_pull_quote_path
