/* line 2, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/core/_palette.scss */
body {
  background-color: #fff;
}

/* line 3, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/core/_typography.scss */
* {
  font-family: "orpheuspro", sans-serif;
}

/* line 3, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_footer.scss */
.footer .copyright:after {
  content: " &copy;";
}

/* line 1, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination {
  text-align: center;
}
/* line 17, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 23, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul li {
  display: inline;
  list-style: none;
}
/* line 28, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul ul li {
  display: none;
}
/* line 31, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul ul li:nth-child(1), .pagination ul ul li:nth-child(2), .pagination ul ul li:nth-child(3) {
  display: inline;
}
/* line 42, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul li a {
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  color: #333;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 52, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul li a:hover, .pagination ul li a:focus {
  background: white;
  color: #477DCA;
}
/* line 58, /Users/gawalsh/Sites/RubymineProjects/imaginary-foundation/app/assets/stylesheets/components/_pagination.scss */
.pagination ul li a:active {
  background: #f6f6f6;
}
