.project{
  @include outer-container;
  .related-links{
    @extend .drop-shadow;
    position: relative;
    float: right;
    bottom: 0;
    right: 0;
    border: 1px solid $purple;
    width: 230px;
    padding: 1.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3{
      width: 100%;
      color: $purple;
      font-size: 1.5rem;
      margin: 0 1.56rem 0.5rem 1.56rem;
    }
    a{
      &:hover{
        cursor: pointer;
      }
      i{
        text-decoration: none;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}