
.resume{
  @include outer-container;
  margin-left: 2rem;
  @include respond-to(tablet) {
    margin-left: 4rem;
  }
  @include respond-to(oldphone) {
    margin-left: 0;
  }
  h2{
    font-size: 2.75rem;
    @include respond-to(oldphone) {
      font-size: 1.875rem;
    }
  }
  .candidate{
    span{
      font-size: 3.5rem;
      @extend .person;
    }
    line-height: 3.5rem;
    @include respond-to(oldphone) {
      span{
        font-size: 3rem;
      }
      line-height: 3rem;
    }
  }
  .contact{
    .contact-info{
      span{
        @extend .place;
      }
    }
  }
  .overview{
    max-width: 65%;
    @include respond-to(oldphone) {
      max-width: 90%;
    }
  }
  .experience{
    .position{
      margin: 2rem 0 2rem 0;
      display: flex;
        .logo{
          padding-right: 2rem;
          img{
            height: 50px;
            width: 50px;
            @include box-shadow();
          }
          @include respond-to(oldphone) {
            display: none;
          }
        }
        .synopsis{
          display: flex;
          flex-direction: column;
          .title{
            font-size: 2rem;
            color: $red;
          }
          .organization{
            a{
              font-size: 1.5rem;
              color: $blue;
            }

          }
          .address > span{
            @extend .place;
          }
          .duration > span{
            @extend .duration;
            &:first-child{
              &:after{
                content: ' - ';
              }
            }
          }
          .description{
            max-width: 60%;
            @include respond-to(oldphone) {
              max-width: 95%;
            }
          }
        }
    }
  }
  .institution{
    span{
      @extend .organization;
      a{
        @extend .organization;
      }
    }
  }
  .degree{
    span:nth-child(2){
      @extend .date;
    }
  }
  .honors{
    h4{
      color: $black;
      font-size: 2rem;
    }
  }
  .listing{
    display: flex;
    justify-content: space-between;
    @include respond-to(oldphone) {
     flex-direction: column;
      ul{
        margin-bottom: -1rem;
      }
    }
  }
  margin-bottom: 3rem;
}