= include_gon
.home{:ng =>{:controller => 'homeCtrl', :init=>'init()'}}
  .cards
    - @promo_cards.each do |c|
      - if c.project_id
        -item = Project.find(c.project_id)
        -path = projects_path(c.project_id)
      - elsif c.essay_id
        -item = Essay.find(c.essay_id)
        -path = projects_path(c.essay_id)
      - if c.image_id
        -image = Image.find(c.image_id)
      -if item
        .card{:ng=>{:click=>'selectCard("'+path+'")'}}
          .card-inner{:style => 'background-image: url("https://placehold.it/600/600");'}
            %h2
              = item.description
