= include_gon
.home
  .grid
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/
    .grid-box-wrap
      .grid-box
        %img{:src=>'http://placehold.it/400/400'}/