= include_gon
.home{:ng =>{:controller => 'homeCtrl', :init=>'init()'}}
  .cards
    - @promo_cards.each do |c|
      - if c.project_id
        -item = Project.find(c.project_id)
        -path = projects_path + "/" + c.project_id.to_s
      - elsif c.essay_id
        -item = Essay.find(c.essay_id)
        -path = essay_path(c.essay_id)
      - if c.image_id
        -i= Image.find(c.image_id)
        -image = i.image_file
      - else
        - image = 'https://placehold.it/600/600'
      -if item && path && image
        .card{:ng=>{:click=>'selectCard("'+path+'")'}}
          .card-inner{:style => 'background-image: url("' + image.to_s + '");'}
            %h2
              = item.description
