= include_gon
= render :partial => 'components/bread_crumb'
.records{ :ng => {:controller=>'recordCollectionCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
  .record-collection
    .record{:ng=>{:repeat => 'release in recordCollection[currentGroup].releases | orderBy:basic_information.title'}}
      %img{:ng=>{:src => '{{release.basic_information.thumb}}'}}
      %span{:class=>'title'} {{release.basic_information.title}}
      %span{:class=>'artist'} {{release.basic_information.artists[0].name}}
  .pagination
    %button{:ng=>{:click=> 'paginate(false)'}} Prev
    .pages
      {{recordCollection[currentGroup].pagination.page}}/{{recordCollection[currentGroup].pagination.pages}}
    %button{:ng=>{:click=> 'paginate(true)'}} Next
