= include_gon
.projects{ :ng => {:controller=>'projectIndexCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
  .body
    .cards
      -@projects.each do |e|
        .card{:ng=>{:click=>"selectCard('#{projects_path(e.id)}')"}}
          .card-inner{:style => 'background-image: url("' + @project_cards['card'+e.id.to_s] + '");'}
            %h2
              = e[:description]