.cards
  .card
    .card-image
    .card-header
      %h4 First Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    .card-image
    .card-header
      %h4 Another Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    .card-image
    .card-header
      %h4 The Last Card
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.