= include_gon
.projects{ :ng => {:controller=>'projectIndexCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
  .body
    .project-card{ :ng => {:repeat=>'project in projects'}}
      .title
        %a{:href=>projects_path+'/{{project.id}}'} {{project.title}}