%h1 Listing related_links

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @related_links.each do |related_link|
      %tr
        %td= link_to 'Show', related_link
        %td= link_to 'Edit', edit_related_link_path(related_link)
        %td= link_to 'Destroy', related_link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Related link', new_related_link_path
