%h1 Listing goodwords

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @goodwords.each do |goodword|
      %tr
        %td= link_to 'Show', goodword
        %td= link_to 'Edit', edit_goodword_path(goodword)
        %td= link_to 'Destroy', goodword, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Goodword', new_goodword_path
