= include_gon
= render :partial => 'components/bread_crumb'
.good-word-container{:ng => {:controller=> 'goodWordCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
    %button{:ng =>{:if=>'!editMode', :click => 'toggleMode()'}} Add Words
    %button{:ng =>{:if=>'editMode', :click => 'toggleMode()'}} Close
  .good-listing{:ng =>{:if=>'!editMode'}}
    %span{:ng=>{:repeat=>'word in currentWords'}} {{word}}
  .good-editor{:ng =>{:if=>'editMode'}}
    .good-creation
      %form{:ng=>{:model=>'goodWordForm'}}
        %label{:for=>'goodWordInput'} Paste Source Text Here.
        %textarea{:ng=>{:model=>'goodWordForm.goodInput', :required=>'true'},:class=>'', :id=>'goodWordInput', :name=>'goodWordInput'}
        .errors{:ng=>{:messages=>'goodWordForm.goodWordInput.$error'}}
          .error{:ng=>{:message=>'required'}} Source Text is required.
        %label{:for=>'goodWordInput'} Add source URL (optional).
        %input{:ng=>{:model=>'goodWordForm.goodInputURL'},:class=>'', :id=>'goodWillURL'}
        %button{:ng=>{:click=>'selectCandidates(goodWordForm.goodInput)'}} Submit
    .good-display
      .word{:ng=>{:repeat=>'candidate in candidates'}}
        %button{:ng=>{:click=>'chooseCandidate(candidate, false)'}, :class=>'bad'} N
        %span{:class=>'display-word'} {{candidate.word}}
        %button{:ng=>{:click=>'chooseCandidate(candidate, true)'}, :class=>'good'} Y