@mixin cards(){
  margin: 2rem 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  .card{
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    width: 50%;
    min-width: 320px;
    .card-inner{
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 1rem;
      @include box-shadow(0, -0.5rem, 1rem, transparentize($light-grey, 0.75), false);
      h2{
        position: relative;
        top:300px;
        background-color: $black;
        font-size: 1.875rem;
        color: $white;
        text-align: right;
        padding-right: 0.5rem;
      }
    }
  }
}

.example-cards{
  @include cards();
}