header.navigation{
  border-top: 0.5px solid transparentize($black,0.9);
  border-bottom: 1px solid transparentize($black,0.9);
  @include outer-container;
  .navigation-wrapper{
    a.navigation-menu-button{
      display:none;
      float:right;
      i.hamburger{
        font-size: 2rem;
      }
      @include media($tablet) {
        display: inline-flex;
      }
    }
    ul.navigation-menu{
      @include media($tablet) {
        display: none;
        &.open{
          display: flex;
          flex-direction: column;
          li.nav-link{
            text-align: right;
          }
          li.logo-link{
            display: none;
          }
        }
      }
      list-style: none;
      padding:0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      li.nav-link{
        margin: 0 1rem 0 1rem;
        a{
          font-size: 1rem;
          @include imaginary-hover-focus();
        }
      }
      li.logo-link{
        margin-right: 0.5rem;
        a{
          img{
            margin-top: 0.3125rem;
            max-width: 1rem;
            max-height: 1rem;
          }
        }
      }
    }
  }
}