

header.navigation{
  .navigation-wrapper{
    a.navigation-menu-button{
      display:none;
      float:right;
      i.hamburger{
        font-size: 3rem;
      }
      @include media($tablet) {
        display: inline-flex;
      }
    }
    ul.navigation-menu{
      @include media($tablet) {
        display: none;
        &.open{
          display: flex;
          flex-direction: column;
          li.nav-link{
            text-align: right;
          }
          li.logo-link{
            display: none;
          }
        }
      }
      list-style: none;
      padding:0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      li.nav-link{
        flex-grow: 2;
        a{
          font-size: 1.75rem;
          @include imaginary-hover-focus();
        }
      }
      li.logo-link{
        flex-grow:1;
        a{
          img{
            max-width: 3rem;
            max-height: 3rem;
          }
        }
      }
    }
  }
}