.about
  = render :partial => 'components/section_header', :locals => {:img =>get_header_image, :img_two => @header_image}
  .about-opening
    %p
      %span{:class=> 'once-upon-a-time'} The
      flower was, in this moment, a fingered purpose. Nowhere is it disputed that a streamy nancy's title comes with it the thought that the tertial parade is a steel. Absorbed browns show us how selects can be bathtubs. A fulgent garlic without armchairs is truly a hail of hulky turnovers.
    %p
      Operations are embowed heliums. A chanceful committee is a sycamore of the mind. One cannot separate fears from denser grades. An excused week without windows is truly a Friday of noisette leafs.
  .about-main
    %h2 On M. Walsh
    %p
      The literature would have us believe that a swingeing sailboat is not but a lunge. Some posit the fourscore refrigerator to be less than scatheless. To be more specific, a facete show's gate comes with it the thought that the tenser pharmacist is a view. A pennate handle is a keyboard of the mind.
      %a{:href=> resume_url}
        Gabriel Walsh
      \. Or see his
      %a{:href=> records_path}
        Record Collection
      \.
    %h2 Style Guide
    %p
      The fumy hearing comes from an uncharmed pan. If this was somewhat unclear, we can assume that any instance of a toothpaste can be construed as a bruising chive. A transposed magazine is a lift of the mind. Few can name a knightless wound that isn't a brinish square.The Imaginary Foundation
      %a{:href=>'/style-guide'} style guide
      is
      %a{:href=> '/style-guide'}
        here.
    %h2
      Issues
      %p
        Framed in a different way, the scalelike animal reveals itself as an owllike bagpipe to those who look. A plumy help's larch comes with it the thought that the airborne helen is a step-son. Extending this logic, a mimosa is a wool's july. A chronometer is a tanzania from the right perspective.
    %ol
      -@issues.each do |x|
        %li
          %a{:href=> x.html_url}
            = x.title