= include_gon
.essays{ :ng => {:controller=>'essayIndexCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
  .body
    .essay-card{ :ng => {:repeat=>'essay in essays'}}
      .title
        %a{:href=>essays_path+'/{{essay.id}}'}
          {{essay.title}}