= include_gon
.essays{ :ng => {:controller=>'essayIndexCtrl', :init=>'init()'}}
  .header
    %h1 Essays
    %hr
  .body
    .essay-card{ :ng => {:repeat=>'essay in essays'}}
      .title
        %a{:href=>essays_path+'/{{essay.id}}'}{{essay.title}}