.ui.four.column.grid
  .column
    .ui.card
      .image
        %img{:src=>'http://www.placekitten.com/650/650'}
      .content
        %a Link
  .column
    .ui.card
      .image
        %img{:src=>'http://www.placekitten.com/650/650'}
      .content
        %a Link
  .column
    .ui.card
      .image
        %img{:src=>'http://www.placekitten.com/650/650'}
      .content
        %a Link
  .column
    .ui.card
      .image
        %img{:src=>'http://www.placekitten.com/650/650'}
      .content
        %a Link