= include_gon
.essay{ :ng => {:controller=>'essayCtrl', :init=>'init()'}}
  .header
    %h1 {{essay.title}}
    %hr
  .body
    {{essay.body}}
    .pull-quote
      %i{:class=>'open', :role=>'presentation'}
      %h3 This is a pull quote
      %i{:class=>'close', :role=>'presentation'}